.nav {
  background: lightcoral;
  padding: 20px;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1{
margin-left: 8rem;
}
.menu {
  display: flex;
  gap: 6rem;
  list-style: none;
  
}
h2{
color: aliceblue;
}
